.header{
	border:1px solid black;
	height:100px;
	width:500px;
	background-color:gray;
}

.home{
	margin-left:50px;
	margin-top:50px;
	font-size:25px;
	float:left;
}

.work{
	margin-left:50px;
	margin-top:50px;
	font-size:25px;
	float:left;
}

.other{
	margin-left:50px;
	margin-top:50px;
	font-size:25px;
	float:left;
}